*{
  
  margin: 0 auto;
  padding: 2px;
  text-align: center;
}
.containerHeader{
  display: flex;
  flex-direction:row; /* Organizamos los elementos en columna */
  align-items: center;
  justify-content:space-between;
  background-color: black;
}

.containerCarrusel{
  width: 100%;
}